@import url(https://fonts.googleapis.com/css?family=Nunito);

/**
 * menu css
 */
.menu_admin{
	
	background-color: turquoise;

	padding: 20px;

    display: flex;
    justify-content: space-between;

    align-items: center;
}
.menu_admin ul{
 	
 	list-style: none;

 	display: flex;
	
	margin:0;

}

.menu_admin ul li a:hover,#logo:hover{
	text-decoration: none;
	color:white;
}


.menu_admin ul li{
	margin-right: 5px;
}

.menu_admin ul li a,#logo{
	font-size: 20px;
	color:black;
	transition: 0.3s all;
}
